import("stats", "ggplot2")
importFrom("scales", "trans_new", "log_trans", "log2_trans", "extended_breaks")
importFrom("graphics", "par")
importFrom("rlang", ".data")
export(simCorVars,
       glog,
       glog10,
       glog2,
       inv.glog,
       inv.glog10,
       inv.glog2,
       scale_y_glog,
       scale_x_glog,
       scale_y_glog10,
       scale_x_glog10,
       scale_y_glog2,
       scale_x_glog2,
       scale_y_log,
       scale_x_log,
       scale_y_log2,
       scale_x_log2,
       scale_y_neglog,
       scale_x_neglog,
       scale_y_neglog10,
       scale_x_neglog10,
       scale_y_neglog2,
       scale_x_neglog2,
       melt.long,
       fiveNS,
       sevenNS,
       IQrange,
       sIQR,
       meanAD,
       CV,
       medCV,
       iqrCV,
       SMD,
       SNR,
       medSNR,
       iqrSNR,
       skippedMean,
       skippedSD,
       qbxp.stats,
       qboxplot,
       thyroid,
       zscore,
       medZscore,
       iqrZscore,
       zfactor,
       medZfactor,
       iqrZfactor,
       illustrate.quantile,
       illustrate.boxplot)

S3method(qboxplot, default)
S3method(qboxplot, formula)

